name: Lint Check

on:
  - push
  - pull_request

jobs:
  lint-check:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Lint check
        uses: arduino/arduino-lint-action@v1
        with:
          library-manager: update
          compliance: strict
